*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    color: antiquewhite;
    
}

h1{
    font-family: "Black Ops One", system-ui;
    
}

p{
    font-family: "Roboto Condensed", sans-serif;
    font-size:x-large;
}

i{
    font-size: 50px;
}

header{
    background-color:rgba(245, 245, 220, 0.329);
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

header img{
    width: 50px;
}


header ul{
    display: flex;
}

header ul li{
    list-style: none;
    margin: 10px;
    font-size:x-large;
}

header ul li a{
    color: black;
    text-decoration: none;
}

header ul li a:hover{
    border-bottom: 2px solid white;
    padding: 5px 10px;
    transition: 2s;
}

section{
    width: 100%;
    height: 100vh;
}

#banner img{
    width: 600px;
    height: 600px;
    margin-top: 70px;
}


.row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


#about img{
    width: 400px;
    height: 300px;
}


h1{
    text-align: center;
}

 p{
    text-align: justify;
    margin: 40px;
}

h1,h3{
    text-align: center;
}

h3{
  font-size: xx-large;
}



.row1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.col1{
    width: 500px;
    height: 200px;
    background-color: rgba(245, 245, 220, 0.384);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

#project{
  margin-top: 50px;
}

.col2{
    border: 2px solid white;
    margin: 20px;
}

.col2 h2{
  margin-top: 5px;
}


.col2 p{
    font-size: 15px;
}


.flip-box {
  background-color: transparent;
  width: 500px;
  height: 250px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.col img{
    border-radius:500%;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    margin-left: 100px;
}

#service{
  margin-top: 50px;
}



/* From Uiverse.io by gharsh11032000 */ 
.form-container {
  width: 400px;
  background: linear-gradient(#212121, #212121) padding-box,
              linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}

 #contact h1{
    margin-bottom: 50px;
    margin-top: 50px;
}


@media screen and (max-width: 400px) {
  *{
    padding: 0;
    margin: 0;
  }
  header{
    width: 720px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
  }
  li{
    font-size: small;
  }
  .row{
    display: flex;
    flex-direction: column;
    height: auto;
    margin-left: 80px;
  }
  #banner{
    margin-left: 100px;
  }
  #banner img{
    width: 300px;
    height: 300px;
  }
  #about{
    margin-left: 100px;
  }
  #about h1{
    margin-top: 70px;
    margin-bottom: 10px;
    margin-left: 100px;
  }
  #about p{
    margin-top: 20px;
    font-size: small;
    margin-bottom: 5px;
    margin-left: 60px;
    width: 400px;
  }
  #about img{
    width: 300px;
    margin-top: 2px;
  }
 
  .row1{
    display: flex;
    flex-direction: column;
    height: auto;
  }
  #tech{
    margin-top: 50px;
    margin-left: 150px;
  }
  .col1{
    width: 300px;
  }
  .col1 h1{
    margin: 350px;
  }
  #project{
    margin-top: 1000px;
    margin-left: 100px;
  }

#project h1{
  margin-left: 100px;
}
  #service{
    margin-top: 1400px;
    margin-left: 100px;
  }
  #service h1{
    margin-left: 80px;
    margin-bottom: 40px;
  }
  #service img{
    margin-left: 60px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  #contact{
    margin-left: 100px;
    margin-top: 2200px;
  }
  #contact h1{
    margin-left: 80px;
  }
  .form-container{
    width: 350px;
  }
  .form-group{
    width: 250px;
  }
  
}




